.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.align {
	text-align: center;
}

.footer {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

/*other*/
h1 {
	margin-left: 50px;
	margin-right: 50px;
	color: #535100;
}

a {
	color: green;
	font-size: 16px;
	background-color: #EAEAEA;
	border: 1px solid #737373;
	padding: 1px;
}

a:hover {
	border: 5px solid #737373;
}

div {
	margin-bottom: 13px;
}

.router	{
	margin-top: 13px;
	margin-bottom: 13px;
}

/*youtube settings*/

.youtube {
	cursor: pointer;
	border: 1px solid #737373;
	background-color: #EAEAEA;
	color: red;
	display:inline-block;
	width: 27%;
	max-width: 84px;
	margin: 0 auto;
}

.youtube:hover {
	border: 5px solid #737373;
}

/*google settings*/
.google {
	cursor: pointer;
	width: 100%;
	max-width: 69px;
	border: 1px solid #737373;
	background-color: #EAEAEA;
	color: #00A5E1;
	margin: 0 auto;
	margin-bottom: 13px;
	margin-top: 13px;
}

.google:hover {
	border: 5px solid #737373;
}

/*github settings*/
.github {
	cursor: pointer;
	width: 100%;
	max-width: 70px;
	border: 1px solid #737373;
	background-color: #EAEAEA;
	color: #434343;
	margin: 0 auto;
	margin-bottom: 13px;
	margin-top: 13px;
}

.github:hover {
	border: 5px solid #737373;
}